.chprofile-form .chprofile-form-btn{
    background-color:rgb(18 102 241);
}

.chprofile-form .chprofile-form-btn:hover{
    background-color: #67c56b;
}

.chprofile-title{
    padding-bottom: 20px;
}

/* display p at left*/
.chprofile-form p{
    text-align: left;
}


.chprofile-form {
    position: center;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 150px auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.chprofile-form .chprofile-form-rad {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}


.chprofile-form .chprofile-form-items , .chprofile-form-btn {

    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.chprofile .title {
    margin-bottom: 20px;
}