/* Fixed sidenav,full height */

.experience {
    height: 100%;
    width: 100%;
    padding-top: 20px;
}


/* Style the sidenav links and the dropdown button */

.experience li,
.dropdown-content {
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

input[type=submit],
#experiencedeletebutton,
#experienceeditbutton,
#experienceaddbutton,
.experiencedeletebuttonnomodal {
    width: 4%;
    background-color: #2511dd;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.main .add {
    margin-bottom: 20px;
    padding-bottom: 20px;
}


/* Main content */

.main {
    margin-left: 0.5%;
    /* Same as the width of the sidenav */
}


/* Optional: Style the caret down icon */

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.used {
    background-color: purple;
    margin: 0px 2px 2px 2px;
    display: inline;
    padding: 2px;
    color: white;
    border-radius: 5px;
}

.mastering {
    background-color: blue;
    display: inline;
    color: white;
    padding: 2px;
    border-radius: 5px;
}

.titleanddesc {
    font-size: large;
    font-weight: bold;
    border-style: solid;
    border-radius: 10px;
    display: table;
    padding: 5px;
    border-color: blue;
}

.filters {
    font-weight: bold;
}

.viewchanger {
    height: 30px;
    width: 100px;
    display: table-cell;
    vertical-align: middle;
    color: #2511dd;
    background-color: white;
    border: 3px solid blue;
    border-radius: 5px;
    cursor: pointer;
}

.alignright {
    height: 30px;
    width: 100px;
    background: white;
    margin: 3px 10px 10px 3px;
    text-align: center;
    display: block;
}